.blue__text{
	font-size: 12px;
    color: rgba(0, 102, 179, 1);
}
.fourth-text{
    color: $color-fourth;
}
.red-text{
    color: #ED6160;
}
.success-text{
    color: #009254;
}
.success-text-1{
    color: #8CC34B;
}
.warning-text{
    color: #DAAF53;
}